.home {
  position: relative;
  padding: 40px 0;
}

.inner {
  width: 100%;
  padding: 0 20px;

  @media (width >= 1024px) {
    width: 960px;
    margin: 0 auto;
  }
}

.title {
  font-size: var(--font-size-large);
}

.description {
  padding-top: 16px;
  font-size: var(--font-size-base);
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 40px 0;
}

.question {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-text);
    font-weight: 700;
    content: 'Q.';
  }
}

.answer {
  position: relative;
  padding: 24px 0 24px 24px;
  white-space: pre-line;

  &::before {
    position: absolute;
    top: 24px;
    left: 0;
    color: var(--color-primary);
    font-weight: 700;
    content: 'A.';
  }
}
