.home {
  position: relative;
  padding: 24px 0;

  @media (width >= 960px) {
    padding: 40px 0;
  }
}

.inner {
  width: 100%;
  padding: 0 20px;

  @media (width >= 960px) {
    width: 768px;
    margin: 0 auto;
  }
}

.title {
  font-size: var(--font-size-medium);

  @media (width >= 960px) {
    font-size: var(--font-size-large);
  }
}

.description {
  padding-top: 16px;
  font-size: var(--font-size-small);

  @media (width >= 960px) {
    font-size: var(--font-size-base);
  }
}
