.home {
  position: relative;
  padding: 40px 0;
}

.inner {
  width: 100%;
  padding: 0 20px;

  @media (width >= 1024px) {
    width: 960px;
    margin: 0 auto;
  }
}

.title {
  font-size: var(--font-size-large);
}

.description {
  padding-top: 16px;
  font-size: var(--font-size-base);
}
