.journeyItem {
  position: relative;
  padding-left: 36px;
  counter-increment: listNumber;

  &::before {
    content: counter(listNumber, upper-roman) '. ';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    color: var(--color-primary);
    font-size: var(--font-size-base);
    font-weight: 700;
    text-align: center;
  }

  @media (width >= 960px) {
    padding-left: 40px;

    &::before {
      width: 40px;
      font-size: var(--font-size-large);
    }
  }
}

.itemTitleBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-primary);

  @media (width >= 960px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.itemTitle {
  color: var(--color-primary);
  font-size: var(--font-size-medium);
  font-weight: 700;

  @media (width >= 960px) {
    font-size: var(--font-size-large);
  }
}

.itemDuration {
  padding-top: 8px;
  color: var(--color-primary);
  font-size: var(--font-size-small);
  align-self: flex-end;

  @media (width >= 960px) {
    padding-top: 0;
    font-size: var(--font-size-base);
  }
}

.itemDescription {
  padding-top: 8px;
  color: var(--color-text);
  font-size: var(--font-size-small);

  & > p {
    padding-top: 16px;

    &:first-of-type {
      padding-top: 0;
    }
  }

  @media (width >= 960px) {
    font-size: var(--font-size-base);
  }
}
