.journeyItem {
  position: relative;
  padding-left: 40px;
  counter-increment: listNumber;

  &::before {
    content: counter(listNumber, upper-roman) '. ';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: 700;
    text-align: center;
  }
}

.itemTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-primary);
}

.itemTitle {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
}

.itemPeriod {
  color: var(--color-primary);
  font-size: var(--font-size-base);
}

.itemDescription {
  padding-top: 8px;
  color: var(--color-text);
  font-size: var(--font-size-base);

  & > p {
    padding-top: 16px;

    &:first-of-type {
      padding-top: 0;
    }
  }
}
