.nav {
  position: relative;
  height: 100%;

  @media (width >= 1024px) {
    flex-grow: 1;
    padding: 0 40px;
  }
}

.navList {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 60px 0;

  @media (width >= 1024px) {
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    padding: 0;
  }
}

.navItem {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  @media (width >= 1024px) {
    margin-top: 0;
    margin-left: 40px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.navLink {
  display: block;
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: var(--line-height-base);

  &:hover {
    color: var(--color-primary);
    transition: color 200ms ease-out;
  }

  @media (width >= 1024px) {
    font-size: var(--font-size-large);
  }
}

.navLinkActive {
  color: var(--color-primary);
}
