.scrollTrigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: background-color 200ms ease-in-out;
}

.headerSticky {
  background-color: var(--color-sticky-header-bg);
  backdrop-filter: blur(8px);
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 20px;

  @media (width >= 1024px) {
    width: 960px;
    margin: 0 auto;
  }
}

.logo {
  position: relative;
  z-index: 98;
  height: 100%;
}

.homeLink {
  display: block;
  width: 80px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 71px 18px;
}

html[data-theme='dark'] .homeLink {
  background-image: url('../../assets/images/logo-dark.png');
}

html[data-theme='light'] .homeLink {
  background-image: url('../../assets/images/logo-light.png');
}

.nav {
  flex-grow: 1;
  position: relative;
  height: 100%;
  padding: 0 60px;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.navItem {
  margin-left: 20px;

  &:first-of-type {
    margin-left: 0;
  }

  @media (width >= 1024px) {
    margin-left: 40px;
  }
}

.navLink {
  display: block;
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: var(--line-height-base);

  &:hover {
    color: var(--color-primary);
    transition: color 200ms ease-out;
  }

  @media (width >= 1024px) {
    font-size: var(--font-size-large);
  }
}

.navLinkActive {
  color: var(--color-primary);
}

.themeSwitch {
  display: block;
  position: relative;
  width: 50px;
  height: 32px;
  padding: 8px;
  border-radius: 999em;
  background-color: var(--color-theme-switch-button-bg);
}

.switchTrack {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-theme-switch-icon-bg);
  transition: transform 200ms ease-in-out;
}

html[data-theme='dark'] .switchTrack {
  transform: translateX(0);
}

html[data-theme='light'] .switchTrack {
  transform: translateX(18px);
}

.switchIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
  transform: translate(-50%, -50%);
}

html[data-theme='dark'] .switchIcon {
  background-image: url('../../assets/icons/sun-icon.png');
}

html[data-theme='light'] .switchIcon {
  background-image: url('../../assets/icons/moon-icon.png');
}

.utilNav {
  position: relative;
}

.utilList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

.utilItem {
  margin-left: 12px;

  &:first-of-type {
    margin-left: 0;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  @media (width >= 1024px) {
    margin-left: 18px;
  }
}

.githubIcon,
.mailIcon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% auto;
}

html[data-theme='dark'] .githubIcon {
  background-image: url('../../assets/icons/github-dark.svg');
}

html[data-theme='light'] .githubIcon {
  background-image: url('../../assets/icons/github-light.svg');
}

html[data-theme='dark'] .mailIcon {
  background-image: url('../../assets/icons/mail-dark.svg');
}

html[data-theme='light'] .mailIcon {
  background-image: url('../../assets/icons/mail-light.svg');
}
